[submodule "Slave_F103/IoTVisionLibrary"]
	path = Slave_F103/IoTVisionLibrary
	url = https://github.com/IoTVision/STM32_FirmwareLibrary.git
[submodule "Main_F407/IoTVisionLibrary"]
	path = Main_F407/IoTVisionLibrary
	url = https://github.com/IoTVision/STM32_FirmwareLibrary.git
[submodule "Slave_F103/IoTVisonLibrary"]
	path = Slave_F103/IoTVisonLibrary
	url = https://github.com/IoTVision/STM32_FirmwareLibrary.git
[submodule "IoTVisionLibrary"]
	path = IoTVisionLibrary
	url = https://github.com/IoTVision/STM32_FirmwareLibrary.git
[submodule "Main_F407/STM32_FirmwareLibrary"]
	path = Main_F407/STM32_FirmwareLibrary
	url = https://github.com/IoTVision/STM32_FirmwareLibrary.git
